.add-block {
  position: fixed;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: #fff;
  border: 2px solid #032701;
  background-color: #FCBF49;
  border-radius: 10px;
  padding: 10px 250px;
  display: none;
  /* box-shadow: -5px 1px 10px 3px rgba(158,158,158,1);
  -webkit-box-shadow: -5px 1px 11px 3px rgba(158,158,158,1);
  -moz-box-shadow: -5px 1px 10px 3px rgba(158,158,158,1); */
}

.design-side-menu {
  border: 1px solid red;
  float: right;
  background: #ffffff;
  height: 100%;
}

.new-block-container {
  display: none;
}

.logout {
  position: absolute;
  top: 20px;
  left: 95%;
  /* transform: translate(-100%); */
  margin: 20px;
  background-color: #FCBF49;
  display: none;
}
.button-container {
  display: flex;
  flex-direction: row;
  border: 1px solid green;
  margin: auto;
  width: fit-content;
}

.button:hover {
  box-shadow: 0px 10px 29px -10px rgba(0,0,0,1);
  -webkit-box-shadow: 0px 10px 29px -10px rgba(0,0,0,1);
  -moz-box-shadow: 0px 10px 29px -10px rgba(0,0,0,1);
}

.centered-text {
  text-align: center;
}

input {
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin: auto;
  display: block;
}

.button {
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px;
  transition: all 0.5s;
}
.cancel-button {
  background-color: #FF4E00;
}

.confirm-button {
  background-color: #8EA604
}

.confirm-button:hover {
  background-color: #CCEF06;
}

.cancel-button:hover {
  background-color: #FF7E47;
}

.add-category {
  position: relative;
  width: 100%;
  height: 48px;
  border: 1px solid blue;
  padding: none;
  margin: none;
  display: none;
}

.new-block {
  background-color: #ffff;
  border-radius: 10px;
  margin: auto;
  opacity: 1;
  width: 60%;
  padding: 20px;
  -webkit-box-shadow: 0px 20px 50px -1px rgba(0,0,0,0.8); 
  box-shadow: 0px 20px 50px -1px rgba(0,0,0,0.8);
}


.add-category svg {
  position: absolute;
  left: 35%;
  top: 0;
  /* transform: translate(-50%, 0); */
  transform: scale(0.5);
  fill: #ffffff;
  border: 1px solid red;
  /* width: 20px;
  height: 20px; */
}

.title-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.editMenu {
  background-color: #ffffff;
  opacity: 0.75;
  position: fixed;
  left: 0;
  top: 0;
  border: 1px solid blue;
  width: 100%;
  height: 100%;
  display: none;
}

.sub-title {
    font-size: 20px;
    font-weight: 700;
    padding: 0px;
    margin: 0px;
}

.main-title {
    font-size: 40px;
    font-weight: 100;
    padding: 0px;
    margin: 0px;
}

.menu-title {
    font-size: 25px;
    font-weight: 600;
    padding: none;
}

aside {
    color: #fff;
    width: 12%;
    padding-left: 15px;
    height: 100vh;
    background-color: #F24C4C;
    border-top-right-radius: 20px;
    -ms-wrap-flow: both;
}

.body-container {
    display: flex;
}

.content-container {
    flex: 1;
    margin-left: none;
    width: 88%;
    border: 1px solid red;
}

aside a {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    display: block;
    padding: 12px;
    padding-left: 10px;
    text-decoration: none;
    -webkit-tap-highlight-color:transparent;
}

aside a:hover {
  color: #000000;
  background: #fff;
  outline: none;
  position: relative;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

aside a i {
  margin-right: 5px;
}

aside a:hover::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 100%;
  right: 0;
  height: 35px;
  width: 35px;
  border-bottom-right-radius: 18px;
  box-shadow: 0 20px 0 0 #fff;
}

aside a:hover::before {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 38px;
  right: 0;
  height: 35px;
  width: 35px;
  border-top-right-radius: 18px;
  box-shadow: 0 -20px 0 0 #fff;
}

aside p {
  margin: 0;
  padding: 40px 0;
}

body {
  font-family: 'Quicksand';
  width: 100%;
  height: 100vh;
  margin: 0;
}

.new-block-body {
  display: grid;
  grid-template-columns: auto auto auto;
}

.new-block-heading-container {
  margin-bottom: 20px;
}